<!DOCTYPE html>
<html>
    <head>
        <title>JS-Training</title>
    </head>
    <body>
        <form>
            <input type="number" id="firstNo">
            <input type="number" id="secondNo">
            <select id="mathOperationOpt">
                <option value=" "></option>
                <option value="add">ADD +</option>
                <option value="sub">SUB -</option>
                <option value="div">DIV /</option>
                <option value="mul">MUL *</option>
            </select>
            <input type="submit" value="Submit" onclick="submitData();return false;">
        </form>
        <div class="result">
            
        </div>
        <!--Scripts start-->
        <script src="../js/Day2-Q1.js"></script>
        <!--Scripts end-->
    </body>
</html>