<!DOCTYPE html>
<html>
    <head>
        <title>JS-Training</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>

            .forLoopResult , .whileLoopResult , .dowhileLoopResult{
                width: 100%;
                word-wrap: break-word;
            }
        </style>
    </head>
    <body>
        <div class="col-md-4">
            <input type="button" class="btn btn-success" value="using for loop" onclick="usingForLoop();return false;">
            <div class="forLoopResult">
                <p>Result of for loop</p>
            </div>
        </div>
        <div class="col-md-4">
            <input type="button"  class="btn btn-success" value="using while loop" onclick="usingWhileLoop();return false;">
            <div class="whileLoopResult">
                <p>Result of while loop</p>
            </div>
        </div>
        <div class="col-md-4">
            <input type="button"  class="btn btn-success" value="using do while loop" onclick="usingDoWhileLoop();return false;">
            <div class="dowhileLoopResult">
                <p>Result of do while loop</p>
            </div>
        </div>
        <!--Scripts start-->
        <script src="../js/Day2-Q4.js"></script>
        <!--Scripts end-->
    </body>
</html>