<!DOCTYPE html>
<html>
    <head>
        <title>JS-Training</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <form>
            <input type="number" id="factNo" placeholder="Please Enter Number">
            <input type="button" id="calculateFacto" class="btn btn-success" value="Convert">
        </form>
        <div class="finalResult">
            
        </div>
        <!--Scripts start-->
        <script src="../js/Day3-Q1.js"></script>
        <!--Scripts end-->
    </body>
</html>