<!DOCTYPE html>
<html>
    <head>
        <title>JS-Training</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        
        <div class="student-name-list-div">
            <ul id="student-name-list">
                <li>Deepali Kakade</li>
                <li>Snehal Kakade</li>
                <li>Manisa Maji</li>
                <li>Geeta Khabale</li>
                <li>Kiran Gosavi</li>
            </ul> 
        </div>
        <!--Scripts start-->
        <script type="text/javascript" src="../js/Day4-Q5.js"></script>
        <!--Scripts end-->
    </body>
</html>